body{
		text-align: center;
	background-image: url(../Resources/Logo.png);

}

/*h1{
	color: white;
	font-family: Times New Roman;
	text-align: center;
	font-size: 1300%;
}*/
.boton{
	text-align: center;
}

a.button1 {
  background-color: red;
	color: white;
	padding: 10px 32px;
	border-radius: 20px;
	text-decoration:none;
	font-family: Verdana;
	font-size: 30px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	cursor: pointer;
}

a.button1:hover {
    background-color: blue;
    color: white;
}
